.book {
  margin: 20px 0 60px;
  padding-bottom: 20px;
  zoom: 1;
}
.book:last-of-type {
  margin-bottom: 0;
}
.book:after {
  display: table;
  content: "";
  clear: both;
  width: 30%;
  padding-top: 40px;
  border-bottom: 1px solid #eee;
  margin: 0 auto;
}
.book .book-cover {
  float: left;
  margin-right: 40px;
}
.book .book-cover img {
  box-shadow: 0 1px 2px #ddd;
  width: 120px;
}
.book .book-meta {
  overflow: hidden;
}
.book .book-title {
  font-size: 26px;
  font-family: Georgia, "Hiragino Mincho Pro", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  text-decoration: none;
}
.book .book-author {
  margin: 16px 0 20px;
  color: #999;
}
.book-home {
  padding: 60px 0;
  text-align: center;
}
