html, body {
  padding: 0;
  margin: 0;
}
::selection, .yue ::selection {
  background-color: #222;
  color: #f9f9f9;
}

.hide {
  display: none;
}
.container {
  max-width: 650px;
  *width: 650px;
  margin: 0 auto;
  zoom: 1;
}
.container:after {
  display: table;
  content: "";
  clear: both;
}

a {
  color: #434344;
  -webkit-transition: all 0.25 ease-in;
  -moz-transition: all 0.25 ease-in;
  transition: all 0.25 ease-in;
}
a:hover {
  opacity: 0.8;
}

.yue {
  font-family: "Lora", "Georgia", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
.yue p {
  margin-bottom: 1.4em;
}
.yue .cite-quote {
  font-size: 20px;
  text-align: left;
  margin: 20px;
  border: 0;
  padding: 0;
}
.yue .cite-quote cite {
  display: block;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  color: #999;
}
.yue .cite-quote p + cite {
  margin-top: -10px;
}
.yue .cite-quote cite:before {
  content: '—';
  margin-right: 10px;
}

#header {
  padding: 60px 0 30px;
  text-align: center;
}
#subheader {
  background: #fbfbfa;
  padding: 16px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}
#subheader .yue {
  color: #565656;
  font-size: 15px;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
}
#header a {
  color: #444;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
#header a:hover {
  opacity: 1;
  color: #222;;
}
#brand a {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  border-bottom: 4px solid #eee;
  -webkit-transition: all 0.25 ease-in;
  -moz-transition: all 0.25 ease-in;
  transition: all 0.25 ease-in;
}
#brand a:hover {
  border-color: #444;
}
#nav a {
  font-size: 16px;
  margin-right: 15px;
}
#nav a:hover {
  border-bottom: 2px solid #222;
}

#main {
  padding: 30px 0;
  -webkit-font-smoothing: antialiased;
}
#footer {
  padding: 10px 0 20px;
  text-align: center;
  border-top: 1px solid #eee;
  color: #999;
  font-size: 13px;
  font-family: "Optima", "Helvetica Neue", sans-serif;
}

#main .entry-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.entry-list .entry-item {
  margin: 25px 0;
  line-height: 25px;
  min-height: 50px;
  clear: both;
}

.entry-list .entry-meta {
  float: left;
  width: 120px;
  text-align: right;
  font-size: 14px;
  font-family: "Optima", "Helvetica Neue", sans-serif;
}
.entry-list .entry-meta time {
  display: block;
}
.entry-list .entry-meta em {
  font-size: 13px;
}
.entry-list .detail {
  margin-left: 140px;
}
.entry-list h2 {
  margin: 5px 0 8px;
  font-size: 18px;
}
.entry-list a {
  text-decoration: none;
}
.entry-list .description {
  font-size: 18px;
}

.hentry .entry-title {
  text-align: center;
}
.hentry .entry-meta {
  display: block;
  margin-bottom: 26px;
  text-align: center;
  font-size: 14px;
  font-family: "Optima", "Helvetica Neue", sans-serif;
}
.hentry .entry-meta .updated:after {
  content: ' — ';
}
.hentry .entry-footer {
  color: #999;
  font-weight: 300;
  font-size: 14px;
}

.paginator {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
}
.paginator span {
  color: #656565;
  font-weight: 300;
}
.paginator em:before, .paginator em:after {
  font-style: normal;
  color: #999;
  content: ' — ';
}
.paginator .previous:before {
  content: "«";
}
.paginator .next:after {
  content: "»";
}
.entry-extra {
  zoom: 1;
}
.entry-extra:after {
  display: table;
  content: ' ';
  clear: both;
}
.entry-tags {
  float: left;
  margin-bottom: 20px;
}
.entry-tags .tag {
  text-decoration: none;
  margin-right: 6px;
  font-size: 13px;
}
.entry-tags .tag:before {
  content: '#';
  color: #999;
}
.twitter-share-button {
  float: right;
  display: none;
}
.twttr-rendered .twitter-share-button {
  display: block;
}
.entry-comments {
  padding: 30px 0;
  background: #fafafa;
  border-top: 1px solid #ddd;
}

@media (max-width: 650px) {
  #header {
    padding-top: 40px;
  }
  .container {
    padding: 0 18px;
  }
  .entry-list .entry-meta {
    float: none;
    display: block;
    text-align: left;
    width: auto;
  }
  .entry-list .entry-meta time {
    display: inline;
  }
  .entry-list .entry-meta time:after {
    content: ' — ';
  }
  .entry-list .detail {
    margin-left: 0;
  }
}
.highlight-wrapper {
  overflow-x: scroll;
  border: 1px solid #dadada;
  border-radius: 3px;
  margin-bottom: 20px;
}
.highlight-wrapper table {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.highlight-wrapper table td {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.highlight-wrapper table pre {
  margin: 0;
  border: 0 none;
  background: none;
}
.highlight-wrapper table .linenos {
  color: #797979;
  border-right: 1px solid #dadada;
}
.gist table {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.gist table td {
  border: 0 none;
}
@media (min-width: 980px) {
  .highlight {
    margin: 0 -30px;
  }
  .yue .cite-quote {
    text-align: center;
    margin: 36px -60px;
    font-size: 24px;
  }
}
