html, body {
  padding: 0;
  margin: 0;
}
::selection, .yue ::selection {
  background-color: #222;
  color: #f9f9f9;
}

.container {
  max-width: 650px;
  *width: 650px;
  margin: 0 auto;
  zoom: 1;
}
.container:after {
  display: table;
  content: "";
  clear: both;
}

a {
  color: #434344;
  -webkit-transition: all 0.25 ease-in;
  -moz-transition: all 0.25 ease-in;
  transition: all 0.25 ease-in;
}
a:hover {
  opacity: 0.8;
}

.yue {
  font-family: "Lora", "Georgia", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
.yue p {
  margin-bottom: 1.4em;
}

#header {
  padding: 60px 0 30px;
  text-align: center;
}
#subheader {
  background: #fbfbfa;
  padding: 16px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}
#subheader .yue {
  color: #565656;
  font-size: 15px;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
}
#header a {
  color: #444;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
#header a:hover {
  opacity: 1;
  color: #222;;
}
#brand a {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  border-bottom: 4px solid #eee;
  -webkit-transition: all 0.25 ease-in;
  -moz-transition: all 0.25 ease-in;
  transition: all 0.25 ease-in;
}
#brand a:hover {
  border-color: #444;
}
#nav a {
  font-size: 16px;
  margin-right: 15px;
}
#nav a:hover {
  border-bottom: 2px solid #222;
}

#main {
  padding: 30px 0;
}
#footer .container {
  padding: 10px 0 20px;
  text-align: center;
  border-top: 1px solid #eee;
  color: #999;
  font-size: 13px;
  font-family: "Optima", "Helvetica Neue", sans-serif;
}

#main .entry-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.entry-list .entry-item {
  margin: 25px 0;
  line-height: 25px;
}

.entry-list time {
  float: left;
  width: 120px;
  text-align: right;
  font-size: 14px;
  font-family: "Optima", "Helvetica Neue", sans-serif;
}
.entry-list .detail {
  margin-left: 140px;
}
.entry-list h2 {
  margin: 5px 0 8px;
  font-size: 18px;
}
.entry-list a {
  text-decoration: none;
}
.entry-list .description {
  font-size: 18px;
}

.entry-title {
  text-align: center;
}
.entry-meta {
  display: block;
  margin-bottom: 26px;
  text-align: center;
  font-size: 14px;
  font-family: "Optima", "Helvetica Neue", sans-serif;
}
.entry-review {
  color: #999;
  font-weight: 300;
  font-size: 14px;
}

.paginator {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
}
.paginator span {
  color: #656565;
  font-weight: 300;
}
.paginator .previous:before {
  content: "«";
}
.paginator .next:after {
  content: "»";
}

@media (max-width: 650px) {
  #header {
    padding-top: 40px;
  }
  .container {
    padding: 0 18px;
  }
  .entry-list time {
    float: none;
    display: block;
    text-align: left;
    width: auto;
  }
  .entry-list .detail {
    margin-left: 0;
  }
}

/* highlight */
.highlight pre, pre, .highlight .hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }
.highlight .c { color: #999988; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #999988; font-style: italic; }
.highlight .cp { color: #999999; font-weight: bold; }
.highlight .c1 { color: #999988; font-style: italic; }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000000; background-color: #ffdddd; }
.highlight .gd .x { color: #000000; background-color: #ffaaaa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .gi { color: #000000; background-color: #ddffdd; }
.highlight .gi .x { color: #000000; background-color: #aaffaa; }
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #aa0000; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kn { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #445588; font-weight: bold; }
.highlight .m { color: #009999; }
.highlight .s { color: #dd1144; }
.highlight .n { color: #333333; }
.highlight .na { color: teal; }
.highlight .nb { color: #0086b3; }
.highlight .nc { color: #445588; font-weight: bold; }
.highlight .no { color: teal; }
.highlight .ni { color: purple; }
.highlight .ne { color: #990000; font-weight: bold; }
.highlight .nf { color: #990000; font-weight: bold; }
.highlight .nn { color: #555555; }
.highlight .nt { color: navy; }
.highlight .nv { color: teal; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbbbbb; }
.highlight .mf { color: #009999; }
.highlight .mh { color: #009999; }
.highlight .mi { color: #009999; }
.highlight .mo { color: #009999; }
.highlight .sb { color: #dd1144; }
.highlight .sc { color: #dd1144; }
.highlight .sd { color: #dd1144; }
.highlight .s2 { color: #dd1144; }
.highlight .se { color: #dd1144; }
.highlight .sh { color: #dd1144; }
.highlight .si { color: #dd1144; }
.highlight .sx { color: #dd1144; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #dd1144; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999999; }
.highlight .vc { color: teal; }
.highlight .vg { color: teal; }
.highlight .vi { color: teal; }
.highlight .il { color: #009999; }
.highlight .gc { color: #999; background-color: #EAF2F5; }
