{% extends "layout.html" %}

{% block title %}404 — {{ site.name }}{% endblock %}

{% block main %}
<div class="entry-header">
  <div class="container yue">
    <h1 class="entry-title">404</h1>
    <p class="entry-description">You are lost in the 404 page.</p>
    <a class="button" href="/">View Homepage</a>
  </div>
</div>

<div id="main" class="container yue">
  <ul class="entry-list">
    {% for item in site.posts(count=5) %}
    <li><h3><a href="{{ item.url }}">{{ item.title }}</a></h3></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
