{% extends "layout.html" %}

{% block title %}Archive — {{ site.name }}{% endblock %}

{% block extra_head %}
<style>
  ul.archive-list {
    list-style: none;
    padding: 20px 0;
    margin: 0;
  }
  .archive-list li {
    margin-bottom: 10px;
  }
  .archive-list time {
    color: #6b747f;
    margin-right: 16px;
    font-family: "Hevetica Neue", Arial, sans-serif;
  }
  .archive-list a {
    text-decoration: none;
    color: #4D545D;
  }
  .archive-list .entry-year {
    font-size: 22px;
    margin: 28px 0 16px;
  }
</style>
{% endblock %}

{% block main %}
<div class="entry-header">
  <div class="container yue">
    <h1 class="entry-title">Archive</h1>
    <p class="entry-description"><span id="entry-count">Everything</span> in the <strong id="entry-category"></strong> category.</p>
  </div>
</div>

<div id="main" class="container yue">
  <ul class="archive-list" role="main">
    {% set year = 0 %}
    {% for item in site.posts() %}
    {% if year != item.date.year %}
    {% set year = item.date.year %}
    <li class="entry-year">{{ year }}</li>
    {% endif %}
    <li class="entry-item {{item.tags|join(' ')}} {{item.date.year}}">
      <time>{{ item.date.strftime('%Y-%m-%d') }}</time>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<script>
  if (document.querySelectorAll) {
    if (location.hash) showArticles();
    window.onhashchange = showArticles;
  }
  function showArticles() {
    var years = document.querySelectorAll('.entry-year');
    for (var i = 0; i < years.length; i++) {
      years[i].style.display = 'none';
    }
    var items = document.querySelectorAll('.entry-item');
    var className = location.hash.replace('#', '');
    var count = 0;
    for (var i = 0; i < items.length; i++) {
      (function(el) {
        if (el.classList.contains(className)) {
          el.style.display = 'block';
          count += 1;
        } else {
          el.style.display = 'none';
        }
      })(items[i]);
    }
    var $ = function(id) { return document.getElementById(id) };
    $('entry-category').innerHTML = location.hash;
    $('entry-count').innerHTML = count + ' entries';
  }
</script>
{% endblock %}
