{% extends "layout.html" %}

{% block title %}Reading — {{ site.name }}{% endblock %}

{% block extra_head %}
<meta name="description" content="Some books that I have read and am reading.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Reading">
  <meta name="twitter:description" content="Some books that I have read and am reading.">
  <meta name="twitter:site" content="@lepture">
  <meta name="twitter:creator" content="@lepture">
  <meta name="twitter:domain" content="lepture.com">
  <meta name="twitter:image" content="http://dn-lepture.qbox.me/blog/dajiangdahai.png">
{% endblock %}

{% macro Book(title, link, image, author) %}
  <div class="book">
    <a class="book-cover" href="{{ link }}">
      <img src="{{ image }}" alt="{{ title }}">
    </a>
    <div class="book-meta">
      <a class="book-title" href="{{ link }}">{{ title }}</a>
      <p class="book-author">{{ author }}</p>
    </div>
  </div>
{% endmacro %}

{% block main %}
<div id="main">
  <div class="container yue">
    <p class="entry-description">Some books that I've read and am reading.</p>
    {{ Book('大江大海 一九四九', '/zh/2011/dajiangdahai', '//dn-lepture.qbox.me/blog/dajiangdahai.png', '龍應台') }}
    {{ Book('雨季不再來', '/zh/2009/on-yujibuzailai', '//dn-lepture.qbox.me/blog/yujibuzailai.jpg', '三毛') }}
    {{ Book('小團圓', '/zh/2009/on-xiaotuanyuan', '//dn-lepture.qbox.me/blog/xiaotuanyuan.jpg', '張愛玲') }}
  </div>
</div>
{% endblock %}
