<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Reading — Just lepture</title>
  <meta name="description" content="Some books that I have read and am reading.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Reading">
  <meta name="twitter:description" content="Some books that I have read and am reading.">
  <meta name="twitter:site" content="@lepture">
  <meta name="twitter:creator" content="@lepture">
  <meta name="twitter:domain" content="lepture.com">
  <meta name="twitter:image" content="http://dn-lepture.qbox.me/blog/dajiangdahai.png">
  {% include "head.html" %}
</head>
<body>
  {% macro Book(book, title) %}
    <div class="book">
      <a class="book-cover" href="{{ book.url }}">
        <img src="{{ book.image }}" alt="{{ title }}">
      </a>
      <div class="book-meta">
        <a class="book-title" href="{{ book.url }}">{{ title }}</a>
        <p class="book-author">{{ book.author }}</p>
        {% if book.description %}
          <p class="book-description">{{ book.description }}</p>
        {% endif %}
      </div>
    </div>
  {% endmacro %}
  <div class="book-home yue">
    <a class="button" href="/">Back to Home</a>
  </div>
  <div id="main">
    <div class="container yue">
      {% for page in site.posts() %}
        {% if page.review and page.image %}
          {{ Book(page, page.review) }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="book-home yue">
    <a class="button" href="/">Back to Home</a>
  </div>
</body>
</html>
