{% extends "layout.html" %}


{% block main %}
<div class="entry-content">
  {{post.content}}
</div>

{% for cat in resource.category -%}
<div class="entry-list">
  <h2 class="entry-item-title">{{cat|title}}</h2>
  {% set posts = resource.category[cat][:5] -%}
  {% for post in posts -%}
  <div class="entry-item">
    <time class="updated" datetime="{{post.date|xmldatetime}}">{{post.date.strftime("%Y-%m-%d")}}</time>
    <a href="{{ post|permalink }}">{{post.title}}</a>
  </div>
  {%- endfor %}
</div>
{% endfor %}
{% endblock %}
