{% if not context.disqus %}
<p><strong>Would you like to comment?</strong></p>
<p>Great. Open an issuse at <a href="https://github.com/{%if post.github%}{{post.github}}{%else%}lepture/lepture.com{%endif%}/issues/new?title={{post.title|urlencode}}" rel="nofollow">Github</a>, or ping me <a rel="me" href="https://twitter.com/lepture">@lepture</a>.
You may also <a href="mailto:lepture@me.com?subject={{post.title|urlencode}}">send Email</a> to me.
{% endif %}
{% if context.disqus and post.public %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{context.disqus}}';
    var disqus_title = '{{post.title}}';
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
</script>
{% endif -%}
