{% if page.cover %}
<style>
  .entry-header[data-cover]:before {background-image: url({{page.cover|replace('/thumbnail', '/cover')}});}
</style>
{% endif %}
<div class="entry-header"{% if page.cover %} data-cover="{{ page.cover }}"{% endif %}>
  <div class="container">
    <h1 class="entry-title" itemprop="name">{{ page.title }}</h1>
    <p class="entry-description">{{ page.description }}</p>

    <div class="entry-meta">
      {% if page.date %}
        <time class="updated" datetime="{{ page.date|xmldatetime }}" itemprop="datePublished" pubdate>
          {{ page.date.strftime('%b %d, %Y') }}
        </time>
        <span>{{ page.body|wordcount }} words</span>
      {% endif %}

      {% if page.github %}
        <a class="button" rel="nofollow" href="https://github.com/{{ page.github }}">GitHub</a>
      {% elif page.amazon %}
        <a class="button" rel="nofollow" href="{{ page.amazon }}?tag=lepture-23">Buy it</a>
      {% elif 'travel' in page.tags %}
        <a class="button" rel="nofollow" href="https://www.flickr.com/photos/lepture/">Flickr</a>
      {% endif %}
    </div>
  </div>
</div>
