<div class="hentry" itemscope itemtype="http://schema.org/Review">
  <h1 class="entry-title" itemprop="itemReviewed">{{ page.title }}</h1>
  {% if page.date %}
    <div class="entry-meta">
      <time class="updated" datetime="{{ page.date|xmldatetime }}" itemprop="datePublished" pubdate>
        {{ page.date.strftime('%b %d, %Y') }}
      </time>
      <em>{{ page.body|wordcount }} words</em>
    </div>
  {% endif %}
  <div class="entry-content" itemprop="reviewBody">
    {{ page.body|markdown }}
  </div>
  <div class="entry-footer">
    <span itemprop="itemReviewed">{{ page.review }}</span>
    Reviewed by
    <span class="author vcard">
      <span class="fn" itemprop="creator">{{ site.author }}</span>
    </span>
    {% if page.rating %}
    — Rating <span itemprop="reviewRating">{{ page.rating }}</span>
    {% endif %}
  </div>
</div>
