html, body {
    color: #969696;
}
p {
    padding-top: 10px;
}
#tags {
    width: 400px;
    margin: 0 auto;
    padding-top: 200px;
}
.tagbox:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.tagbox {
    zoom:1; /* for IE6 IE7 */
    background: #fff;
    border: 1px solid #cdcdcd;
    padding: 5px 15px 5px 5px;
    border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
    overflow: hidden;
    width: 100%;
    cursor: text;
}
.tagbox li {
    float: left;
    position: relative;
    list-style: none;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    padding: 3px 3px 3px 0;
}
.tagbox .tag {
    background: #f78d1a;
    border: 1px solid #e17806;
    border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    padding: 2px 18px 2px 14px;
    font-weight: bold;
    font-size: 11px;
    text-transform: lowercase;
    cursor: pointer;
}
.tagbox .tag:hover {
    background: #e17806;
}
.tagbox .tag:after {
    position: absolute;
    right: 10px;
    line-height: 19px;
    content: "x";
    color: #fff;
    cursor: pointer;
}
.tagbox .new-tag input {
    border: 0 none;
    outline: 0 none;
    width: 100px;
    color: #32505a;
}
.ft-center {
    text-align: center;
}
