{% extends "index.html" %}
{% block title %}Chinese — {{ site.name }}{% endblock %}
{% block extra_head %}
  <link rel="alternate" type="application/atom+xml" title="Subscribe Chinese Feed" href="http://feeds.lepture.com/lepture/chinese">
  <meta name="description" content="Articles written in traditional Chinese. Things about life, travel, books.">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Chinese">
  <meta property="og:url" content="{{ site.baseurl }}/zh/">
  <meta property="og:description" content="Articles written in traditional Chinese. Things about life, travel, books.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@lepture">
  <meta name="twitter:creator" content="@lepture">
  <meta name="twitter:domain" content="lepture.com">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:locale" content="zh_TW">
  <link rel="canonical" href="{{ site.baseurl }}/zh/">
{% endblock %}

{% block header %}
<h1 class="entry-title">Chinese</h1>
<p class="entry-description">Articles written in traditional Chinese. Things about life, travel, books.</p>
<a class="button" href="http://feeds.lepture.com/lepture/chinese">Feed</a>
{% endblock %}
