{% extends "index.html" %}
{% block title %}Chinese — {{ site.name }}{% endblock %}
{% block extra_head %}
  <link rel="alternate" type="application/atom+xml" title="Subscribe Chinese Feed" href="http://feeds.lepture.com/lepture/chinese">
{% endblock %}

{% block header %}
<h1 class="entry-title">Chinese</h1>
<p class="entry-description">Articles written in traditional Chinese. Things about life, travel, books.</p>
<a class="button" href="http://feeds.lepture.com/lepture/chinese">Feed</a>
{% endblock %}
