{% extends "layout.html" %}

{% block title %}{{title|capitalize}} | {{context.sitename}}{% endblock %}

{% block afterstyle%}
<script type="text/javascript">
    var currentNav = '#nav-{{title|lower}}';
</script>
{% endblock %}


{% block main %}
{% if pager.posts %}
<dl>
    {% set year = 0 %}
    {% for post in pager.posts %}
    {% if post.date.year != year %}
    <dt class="entry-time{%if loop.index == 1%} entry-top-time{%endif%}"><a href="/{{post.date.year}}/">{{post.date.year}}</a></dt>
    {% endif %}
    <dt class="{%if loop.index > 5%}entry-title {%endif%}fn-clear">
        <h3 class="fn-left"><a href="{{content_url(post.slug)}}">{{post.title}}</a></h3>
        <time class="fn-right updated" datetime="{{post.date|xmldatetime}}" pubdate>{{post.date.strftime("%a, %b %d")}}</time>
    </dt>
    {% set year = post.date.year %}
    {% if loop.index < 6 %}
    <dd>
    {%if post.summary%}<p>{{post.summary}}</p>{%else%}{{post.content|first_paragraph}}{%endif%}
    </dd>
    {% endif %}
    {% endfor %}
</dl>
{% endif %}

{% include "pagination.html" %}
{% endblock %}
