<footer class="pagination">{{pager.page}} / {{pager.pages}}</footer>
{% if pager.pages > 1 %}
<nav class="role-pagination" role="pagination">
    {% if pager.next %}
    <a id="older" class="next" href="{{ content_url(pager.folder, pager.sub_folder, pager.next) }}">«Older</a>
    {% else %}
    <span id="older" class="next">«Older</span>
    {% endif %}

    {% if pager.prev %}
        {% if pager.prev == 1 %}
            {% if pager.sub_folder == 'page' %}
                {% set url = content_url(pager.folder) %}
            {% else %}
                {% set url = content_url(pager.folder, pager.sub_folder) %}
            {% endif %}
        {% else %}
            {% set url = content_url(pager.folder, pager.sub_folder, pager.prev) %}
        {% endif %}
        <a id="newer" class="prev" href="{{url}}">Newer»</a>
    {% else %}
    <span id="newer" class="prev">Newer»</span>
    {% endif %}
</div>
{% endif %}
