{% extends "layout.html" %}

{% block title %}{{title|capitalize}} | {{context.sitename}}{% endblock %}

{% block afterstyle%}
<script type="text/javascript">
    var currentNav = '#nav-{{title|lower}}';
</script>
{% endblock %}

{% block sideheader %}
<h2 class="side-title">{%if title in map_data%}{{map_data[title]}}{%else%}{{title}}{%endif%}</h2>
{% endblock %}

{% block middle %}

{% if pager.posts %}
<dl>
    {% set year = 0 %}
    {% for post in pager.posts %}
    {% if post.date.year != year %}
    <dt class="entry-time"><a href="/{{post.date.year}}/">{{post.date.year}}</a></dt>
    {% endif %}
    <dt class="{%if loop.index > 5%}entry-title {%endif%}fn-clear">
        <h3 class="fn-left"><a href="{{content_url(post.slug)}}">{{post.title}}</a></h3>
        <time class="fn-right updated" datetime="{{post.date|xmldatetime}}" pubdate>{{post.date.strftime("%a, %b %d")}}</time>
    </dt>
    {% set year = post.date.year %}
    {% if loop.index < 6 %}
    <dd>
    {%if post.summary%}<p>{{post.summary}}</p>{%else%}{{post.content|first_paragraph}}{%endif%}
    </dd>
    {% endif %}
    {% endfor %}
</dl>
{% endif %}

{% include "pagination.html" %}
{% endblock %}

{% block sidefooter %}
<div class="links">
    {% for tag in status.tags %}
    <a href="{{ content_url('tag', tag.name) }}" title="{{tag.count}} posts">{{ tag.name }}</a>
    {% endfor %}
</div>
{% endblock %}
