{% extends "layout.html" %}

{% block title %}{{title|capitalize}} | {{context.sitename}}{% endblock %}

{% block feed %}
{% if pager.folder == 'life' %}
<meta name="description" content="生命是一襲華美的袍，爬滿了虱子。" />
<meta name="keywords" content="reading, life, childhood, school, 讀書, 生命, 生活, 童年, 學校, 教育" />
<link rel="alternate" type="application/rss+xml" href="http://feeds.lepture.com/shiao" title="{{context.sitename}} {{pager.folder}} Feed" />
{% else %}
<meta name="description" content="Love its people, but never trust its government." />
<link rel="alternate" type="application/rss+xml" href="{{ content_url(pager.folder, 'feed.xml') }}" title="{{context.sitename}} {{pager.folder}} Feed" />
{% endif %}
<script type="text/javascript">
    var currentNav = '#nav-{{title|lower}}';
</script>
{% endblock %}

{% block entrytitle%}{{title|capitalize}}{%endblock%}

{% block container %}
<ul class="subnav not-mobile fn-clear">
    {% if pager.folder == 'work' %}
    <li><a href="/tag/python/">Python</a></li>
    <li><a href="/tag/javascript/">Javascript</a></li>
    <li><a href="/tag/css/">CSS</a></li>
    <li><a href="/tag/html/">HTML</a></li>
    <li><a href="/tag/vim/">VIM</a></li>
    {%- elif pager.folder == 'life' -%}
    <li><a href="/tag/reading/">Reading</a></li>
    <li><a href="/tag/girl/">Girl</a></li>
    <li><a href="/tag/childhood/">Childhood</a></li>
    <li><a href="/tag/memory/">Memory</a></li>
    <li><a href="/tag/education/">Education</a></li>
    <li><a href="/tag/chinese/">Chinese</a></li>
    {%- else -%}
    {% for year in status.years -%}
    <li><a href="/{{year}}/">{{year}}</a></li>
    {%- endfor %}
    {% endif -%}
</ul>

{% include "list.html" %}
{% endblock %}
