{% extends "layout.html" %}

{% block title %}{{title|capitalize}} | {{context.sitename}}{% endblock %}

{% block feed %}
{% if pager.folder == 'life' %}
<meta name="description" content="生命是一襲華美的袍，爬滿了虱子。" />
<meta name="keywords" content="reading, life, childhood, school, 讀書, 生命, 生活, 童年, 學校, 教育" />
<link rel="alternate" type="application/rss+xml" href="http://feeds.lepture.com/shiao" title="{{context.sitename}} {{pager.folder}} Feed" />
{% else %}
<meta name="description" content="Love its people, but never trust its government." />
<link rel="alternate" type="application/rss+xml" href="{{ content_url(pager.folder, 'feed.xml') }}" title="{{context.sitename}} {{pager.folder}} Feed" />
{% endif %}
<script type="text/javascript">
    var currentNav = '#nav-{{title|lower}}';
</script>
{% endblock %}

{% block entrytitle%}{{ map_data[title] }}{%endblock%}

{% block container %}
{% include "list.html" %}
{% endblock %}
