{% extends "layout.html" %}

{% block afterstyle %}
{% if post.summary %}
<meta name="description" content="{{ post.summary }}" />
{% endif %}
{% if post.style %}
<style type="text/css">
{{ post.style }}
</style>
{% endif %}
<script type="text/javascript">
    var currentNav = '#nav-{{post.nav}}';
</script>
{% endblock %}

{% block title %}{{post.title}}{% endblock %}
{% block entrytitle %}{{post.title}}{% endblock %}

{% block container %}
<div class="entry-content">
    <div class="page-content"><h2>Latest</h2></div>
    <div id="latest" class="section">
        <ul>
            {% for post in status.posts[:3] %}
            <li>
            <small><time class="updated" datetime="{{post.date}}" pubdate>{{post.date.strftime("%a, %b %d, %Y")}}</time> — </small>
            <a href="{{content_url(post.slug)}}">{{post.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="page-content entry-content">
    {{ post.content }}
</div>
{% endblock %}
