<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{context.sitename}}{% endblock %}</title>
        <script type="text/javascript">if (top !== self) top.location = self.location;</script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        {% block author %}<meta name="author" content="{{ context.author }}" />{% endblock %}
        {% block beforestyle %}{% endblock %}
        {% block feed %}<link rel="alternate" type="application/rss+xml" href="{{context.feed}}" title="{{context.sitename}} Feed" />{% endblock %}
        <link rel="stylesheet" href="{{ static_url('css/tmp.screen.css') }}" media="all" />
        {% block afterstyle %}{% endblock %}
        <!--[if IE]>
        <script src="{{static_url('js/html5.js')}}"></script>
        <![endif]-->
        <!--[if IE 6]>
        <link rel="stylesheet" href="{{static_url('css/ie6.css')}}" />
        <![endif]-->
        {% include "third/google.js" %}
        <script type="text/javascript">
            var isMobile = navigator.userAgent.match(/(iPhone|iPod|Android|Blackberry|mobile)/);
            if(!isMobile) {
                var jq = document.createElement('script'); jq.type = 'text/javascript'; jq.async = true;
                jq.src = "{{static_url('js/tmp.lepture.js')}}";
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(jq, s);
            } else {
                window.onload = function() {
                    var navbar = document.getElementById("navbar");
                    navbar.onclick = function(e) {
                        var nav = navbar.getElementsByTagName('nav')[0];
                        if (nav.style.display == 'block') {
                            nav.style.display = 'none';
                        } else {
                            nav.style.display = 'block';
                        }
                    }
                }
            }
        </script>
        <link rel="me" href="https://plus.google.com/u/0/117887319435448092628" />
    </head>
    <body>
        {% block header %}
        <aside id="navbar">
            <h1><a id="nav-home" href="/">{{context.sitename}}</a></h1>
            <div id="social">
                <a rel="me" href="mailto:lepture@me.com" class="social-icon mail">Email</a>
                <a rel="me" href="https://twitter.com/lepture" class="social-icon twitter">@lepture</a>
                <a rel="me" href="https://github.com/lepture" class="social-icon github">Github</a>
                <a rel="me" href="http://dribbble.com/lepture" class="social-icon dribbble">Dribbble</a>
                <a rel="me" href="https://plus.google.com/u/0/117887319435448092628" class="social-icon googleplus">Google+</a>
            </div>
            <p id="description">Love its people, but never trust its government</p>
            {% block navigation %}
            <nav role="navigation">
                <ul>
                    <li id="nav-archive"><a href="/archive/">Archive</a></li>
                    <li id="nav-life"><a href="/life/">Life</a></li>
                    <li id="nav-work"><a href="/work/">Work</a></li>
                    <li id="nav-note"><a href="/note/">Note</a></li>
                    <li id="nav-links"><a href="/links/">Links</a></li>
                    <li id="nav-rss"><a href="{{context.feed}}">Feed</a></li>
                </ul>
            </nav>
            {% endblock %}
        </aside>
        {% endblock %}

        <div id="main" class="fn-clear">
            <div class="container">
                {% block main %}
                <article class="hentry">
                    {% block entry %}{% endblock %}
                </article>
                {% block afterentry %}{% endblock %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
