<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{context.sitename}}{% endblock %}</title>
        <script type="text/javascript">if (top !== self) top.location = self.location;</script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        {% block author %}<meta name="author" content="{{ context.author }}" />{% endblock %}
        {% block beforestyle %}{% endblock %}
        {% block feed %}<link rel="alternate" type="application/rss+xml" href="{{context.feed}}" title="{{context.sitename}} Feed" />{% endblock %}
        <link rel="stylesheet" href="{{ static_url('css/screen.css') }}" media="screen" />
        <style type="text/css" media="print, only screen and (max-device-width: 480px)">
            .side, .entry-rel, .footnote-reference {display: none;}
            #github {display: none;}
            #middle{margin:0; padding:0.6em;}
            body {font-family: "Georgia", "Hiragino Mincho ProN", "Microsoft YaHei", "WenQuanYi Micro Hei", serif;}
        </style>
        <style type="text/css" media="print">
            a {color: inherit; text-decoration: none;}
            #comments {display: none;}
        </style>
        {% block afterstyle %}{% endblock %}
        <!--[if IE]>
        <script src="{{static_url('js/html5.js')}}"></script>
        <![endif]-->
        {% include "third/google.js" %}
        <link rel="me" href="https://plus.google.com/u/0/117887319435448092628" />
    </head>
    <body>
        {% block left %}
        <aside class="side just">
            <h1><a id="nav-home" href="/"><span id="just">Just</span> <span id="lepture">lepture</span></a></h1>
            {% block navigation %}
            <nav role="navigation">
                <ul>
                    <li id="nav-archive"><a href="/archive/">Archive</a></li>
                    <li id="nav-life"><a href="/life/">Life</a></li>
                    <li id="nav-work"><a href="/work/">Work</a></li>
                    <li id="nav-note"><a href="/note/">Note</a></li>
                    <li id="nav-links"><a href="/links/">Links</a></li>
                    <li id="nav-rss"><a href="{{context.feed}}">Feed</a></li>
                </ul>
            </nav>
            {% endblock %}

            <form id="search-form" action="http://www.google.com/cse">
                <input type="hidden" name="cx" value="{{context.gcse}}" />
                <input id="search-input" class="ui-fm-text" type="text" placeholder="Search .." name="q" />
            </form>

            {% block afternav %}{% endblock %}
        </aside>
        {% endblock %}

        <div id="middle" class="fn-clear">
            {% block middle %}
            <article class="hentry">
                {% block container %}{% endblock %}
            </article>
            {% endblock %}
        </div>

        {% block right %}
        <aside id="sidebar" class="side lepture">
            {% block sideheader %}
            {% endblock %}
            <div id="social">
                <a rel="me" href="mailto:lepture@me.com" class="social-icon mail">Email</a>
                <a rel="me" href="https://twitter.com/lepture" class="social-icon twitter">@lepture</a>
                <a rel="me" href="https://github.com/lepture" class="social-icon github">Github</a>
                <a rel="me" href="http://dribbble.com/lepture" class="social-icon dribbble">Dribbble</a>
                <a rel="me" href="https://plus.google.com/u/0/117887319435448092628" class="social-icon googleplus">Google+</a>
            </div>
            {% block aftersocial %}
            <p id="description">Love its people, but never trust its government</p>
            {% endblock %}

            {% block sidefooter %}
            <div id="toc"></div>
            <div id="sidenote"></div>
            {% endblock %}
        </aside>
        {% endblock %}

        {% block beforejs %}{% endblock %}
        {#
        <script type="text/javascript" src="{{static_url('js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{static_url('js/lepture.js')}}" media="screen"></script>
        #}
        <script type="text/javascript">
            var isMobile = navigator.userAgent.match(/(iPhone|iPod|Android|Blackberry|mobile)/);
            if(!isMobile) {
                var jq = document.createElement('script'); jq.type = 'text/javascript'; jq.async = true;
                jq.src = "{{static_url('js/jquery.min.js')}}";
                var s = document.getElementsByTagName('script')[0];
                jq.onload = function() {
                    var lp = document.createElement('script'); lp.type = 'text/javascript'; lp.async = true;
                    lp.src = "{{static_url('js/lepture.js')}}";
                    s.parentNode.insertBefore(lp, s);
                }
                s.parentNode.insertBefore(jq, s);
            }
        </script>
        {% block afterjs %}{% endblock %}
    </body>
</html>
