<dl id="entry-list" class="fn-clear">
    {% for post in pager.posts %}
    <dt>
        <time class="updated" datetime="{{post.date|xmldatetime}}" pubdate><a href="/{{post.date.year}}/" rel="index">{{post.date.strftime("%b, %Y")}}</a></time>
        <a href="{{content_url(post.slug)}}">{{post.title}}</a>
    </dt>
    <dd>
    {%if post.summary%}{{post.summary}}{%else%}{{post.content|first_paragraph}}{%endif%}
    <div class="entry-tags">
    {% for tag in post.tags %}<a href="{{content_url('tag', tag)}}" class="tag" rel="tag">{{tag}}</a>{% endfor %}
    </div>
    </dd>
    </li>
    {% endfor %}
</dl>
{% if pager.pages > 1 %}
<div id="pagination">
    {% if pager.prev %}
        {% if pager.prev == 1 %}
        {% if pager.sub_folder == 'page' %}
        <a class="prev" href="{{ content_url(pager.folder) }}">«Prev</a>
        {% else %}
        <a class="prev" href="{{ content_url(pager.folder, pager.sub_folder) }}">«Prev</a>
        {% endif %}
        {% else %}
        <a class="prev" href="{{ content_url(pager.folder, pager.sub_folder, pager.prev) }}">«Prev</a>
        {% endif %}
    {% else %}
    <span class="prev">«Prev</span>
    {% endif %}
    <span class="fn-current">{{pager.page}}</span>
    {% if pager.next %}
    <a class="next" href="{{ content_url(pager.folder, pager.sub_folder, pager.next) }}">Next»</a>
    {% else %}
    <span class="next">Next»</span>
    {% endif %}
</div>
{% endif %}
