{% if pager.posts %}
<dl>
    {% set year = 0 %}
    {% for post in pager.posts %}
    {% if post.date.year != year %}
    <dt class="entry-time"><a href="/{{post.date.year}}/">{{post.date.year}}</a></dt>
    {% endif %}
    <dt class="fn-clear">
        <h3 class="fn-left"><a href="{{content_url(post.slug)}}">{{post.title}}</a></h3>
        <time class="fn-right updated" datetime="{{post.date|xmldatetime}}" pubdate>{{post.date.strftime("%a, %b %d")}}</time>
    </dt>
    {% set year = post.date.year %}
    {% if now.year == year %}
    <dd>
    {%if post.summary%}<p>{{post.summary}}</p>{%else%}{{post.content|first_paragraph}}{%endif%}
    </dd>
    {% endif %}
    {% endfor %}
</dl>
<footer class="pagination">{{pager.page}} / {{pager.pages}}</footer>
{% endif %}

{% if pager.pages > 1 %}
<nav role="pagination">
    {% if pager.prev %}
        {% if pager.prev == 1 %}
            {% if pager.sub_folder == 'page' %}
                {% set url = content_url(pager.folder) %}
            {% else %}
                {% set url = content_url(pager.folder, pager.sub_folder) %}
            {% endif %}
        {% else %}
            {% set url = content_url(pager.folder, pager.sub_folder, pager.prev) %}
        {% endif %}
        <a id="newer-entry" class="prev" href="{{url}}">Newer»</a>
    {% else %}
    <span id="newer-entry" class="prev">Newer»</span>
    {% endif %}
    {% if pager.next %}
    <a id="older-entry" class="next" href="{{ content_url(pager.folder, pager.sub_folder, pager.next) }}">«Older</a>
    {% else %}
    <span id="older-entry" class="next">«Older</span>
    {% endif %}
</div>
{% endif %}
