{% extends "layout.html" %}

{% block afterstyle %}
{% if post.summary %}
<meta name="description" content="{{ post.summary }}" />
{% endif %}
{% if post.style %}
<style type="text/css">
    {{ post.style }}
</style>
{% endif %}
<script type="text/javascript">
    var currentNav = '#nav-{{post.nav}}';
</script>
{% endblock %}

{% block title %}{{post.title}}{% endblock %}
{% block entrytitle %}{{post.title}}{% endblock %}

{% block container %}
<div class="page-content entry-content">
    {{ post.content }}
</div>
{% endblock %}

{% block afterjs %}
{% if post.github %}
<div id="github"><a href="https://github.com/{{post.github}}">Fork me on github</a></div>
{% endif %}
{% endblock %}
