{% extends "layout.html" %}

{% block afterstyle %}
{% if post.summary %}
<meta name="description" content="{{ post.summary }}" />
{% endif %}
<style type="text/css">
    .hentry h2 { 
        text-align: left;
        font-size: 11px;
        margin-bottom: 1px;
        color: #BCBCBC;
        text-transform: uppercase;
        font-family: Helvetica, arial, sans-serif;
    }
</style>
<script type="text/javascript">
    var currentNav = '#nav-{{post.nav}}';
</script>
{% endblock %}

{% block title %}{{post.title}}{% endblock %}

{% block sideheader %}<h2 class="side-title">{{post.title}}</h2>{% endblock %}

{% block container %}
{{ post.content }}
{% include "third/github.html" %}
{% endblock %}
