{% extends "layout.html" %}

{% block title %}{{post.title}} | {{context.sitename}}{% endblock %}

{% block author %}
<meta name="author" content="{{ post.author }}" />
{% endblock %}

{% block afterstyle %}
<meta name="description" content="{{ post.summary }}" />
{% if post.get('tags') %}
<meta name="keywords" content="lepture, {{ post.tags|join(',') }}" />
{% endif %}
{% if post.get('folder') == 'work' %}
<link rel="stylesheet" href="{{ static_url('css/syntax.css') }}" />
{% endif %}
<link rel="canonical" href="{{ content_url(post.slug) }}" />
<script type="text/javascript">
    var currentNav = '#nav-{{post.folder}}';
</script>
{% endblock %}

{% block entrytitle%}<a href="{{content_url(post.slug)}}" rel="self">{{post.title}}</a>{% endblock %}

{% block container %}
<div class="entry">
    <div class="entry-content">
        {{ post.content }}
    </div>
    <div class="fn-clear">
        <p class="entry-rel fn-right">
        {% if post.prev %}
        <a id="prev-entry" href="{{content_url(post.prev.slug)}}" title="{{post.prev.title}}" rel="prev">«Newer</a>
        {% endif %}
        {% if post.next %}
        <a id="next-entry" href="{{content_url(post.next.slug)}}" title="{{post.next.title}}" rel="next">Older»</a>
        {% endif %}
        </p>
    </div>
</div>
<div class="entry-meta fn-clear">
    <p class="entry-time fn-left">
    Created at: 
    <a href="/{{post.date.year}}/" rel="archive"><time class="updated" datetime="{{post.date}}" pubdate>{{post.date.strftime("%a, %b %d, %Y")}}</time></a>
    </p>
    <p class="entry-tags fn-left">
    Tagged in:
    {% for tag in post.get('tags',[]) %}
    <a href="{{content_url('tag', tag)}}" class="tag" rel="tag">{{tag}}</a>
    {% endfor %}
    </p>
</div>
<div class="comments">
    <p><strong>Would you like to comment? / 想要評論這篇文章?</strong></p>
    <p>Great, write your own post, then ping me <a rel="me" href="https://twitter.com/lepture">@lepture</a>.</p>
    <p>啊，你居然無法訪問<a href="http://twitter.com">Twitter</a>，如果你還堅持要評論的話，發<a href="mailto:lepture@me.com?subject={{post.title|urlencode}}">電子郵件</a>給我吧。</p>
</div>
{% endblock %}

{% block afterjs %}
{% if post.github %}
<div id="github"><a href="https://github.com/{{post.github}}">Fork me on github</a></div>
{% endif %}
{% endblock %}
