{% extends "layout.html" %}

{% block title %}{{post.title}} | {{context.sitename}}{% endblock %}

{% block author %}
<meta name="author" content="{{ post.author }}" />
{% endblock %}

{% block afterstyle %}
{%if post.summary%}<meta name="description" content="{{ post.summary }}" />{%endif%}
{% if post.get('tags') %}
<meta name="keywords" content="lepture, {{ post.tags|join(',') }}" />
{% endif %}
{% if post.get('folder') == 'work' %}
<link rel="stylesheet" href="{{ static_url('css/tmp.pygments.css') }}" />
{% else %}
<style type="text/css">
    .hentry .entry-title {
        text-align: left;
        font-size: 1em;
        border-bottom: 1px solid #bcbdbd;
    }
    .hentry .entry-time {
        text-align: left;
    }
    .hentry p {
        text-indent: 2em;
    }
</style>
{% endif %}
<link rel="canonical" href="{{ content_url(post.slug) }}" />
<script type="text/javascript">
    var currentNav = '#nav-{{post.folder}}';
</script>
{% endblock %}


{% block entry %}
<h1 class="entry-title">{{post.title}}</h1>
<div class="entry-meta fn-clear">
    <time datetime="{{post.date|xmldatetime}}" pubdate class="updated">{{post.date.strftime("%Y-%m-%d")}}</time>
    <div class="entry-tags">
        {% for tag in post.tags %}
        {% if loop.index > 1 %}|{%endif%}
        <a href="{{content_url('tag', tag)}}" class="tag" rel="tag">{{tag}}</a>
        {% endfor %}
    </div>
</div>
<div class="entry-content">
    {{ post.content }}
</div>
{% endblock %}

{% block afterentry %}
<nav class="entry-rel">
    {% if post.older%}
    <a id="older" href="{{content_url(post.older.slug)}}" title="{{post.older.title}}" rel="next">«Older</a>
    {% endif %}
    {% if post.newer %}
    <a id="newer" href="{{content_url(post.newer.slug)}}" title="{{post.newer.title}}" rel="prev">Newer»</a>
    {% endif %}
</nav>
<div id="comments">
    {% include "third/disqus.html" %}
</div>
{% include "third/github.html" %}
{% endblock %}

{% block afternav %}
{% if post.tags %}
<div class="links">
    </p>
</div>
{% endif %}
{% endblock %}
