{% extends "layout.html" %}

{% block title %}{{title}} | {{context.sitename}}{% endblock %}

{% block afterstyle %}
<meta name="description" content="Archived entries in Year {{title}} of {{context.sitename}}" />
<script type="text/javascript">
    var currentNav = '#nav-archive';
</script>
{% endblock %}

{% block entrytitle%}{{title}}{%endblock%}

{% block container %}
<ul class="subnav not-mobile fn-clear">
    {% for year in status.years -%}
    <li><a href="/{{year}}/">{{year}}</a></li>
    {%- endfor %}
</ul>

{% include "list.html" %}
{% endblock %}
