{% extends "layout.html" %}

{% block title %}{{title|capitalize}} | {{context.sitename}}{% endblock %}

{% block main %}

{% if pager.posts %}
<dl>
    <dt class="entry-time entry-top-time">{{title}}</dt>
    {% for post in pager.posts %}
    <dt class="fn-clear">
        <h3 class="fn-left"><a href="{{content_url(post.slug)}}">{{post.title}}</a></h3>
        <time class="fn-right updated" datetime="{{post.date|xmldatetime}}" pubdate>{{post.date.strftime("%a, %b %d")}}</time>
    </dt>
    <dd>
    {%if post.summary%}<p>{{post.summary}}</p>{%else%}{{post.content|first_paragraph}}{%endif%}
    </dd>
    {% endfor %}
</dl>
{% endif %}
{% include "pagination.html" %}

{% endblock %}
