{% extends "index.html" %}
{% block title %}English — {{ site.name }}{% endblock %}
{% block extra_head %}
  <link rel="alternate" type="application/atom+xml" title="Subscribe English Feed" href="http://feeds.lepture.com/lepture/english">
{% endblock %}

{% block header %}
<h1 class="entry-title">English</h1>
<p class="entry-description">Articles written in English. Talks on code, skill and open source.</p>
<a class="button" href="http://feeds.lepture.com/lepture/english">Feed</a>
{% endblock %}
