{% extends "layout.html" %}

{% block container %}
<ul class="entry-list">
  {% for page in paginator.posts %}
  <li class="entry-item">
    <div class="entry-meta">
      <time class="updated">{{ page.date.strftime('%b %d, %Y') }}</time>
      <em>{{ page.body|wordcount }} words</em>
    </div>
    <div class="detail">
      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      {% if page.description %}
        <a href="{{ page.url }}" class="description">{{ page.description }}</a>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% block paginator %}
  {% if paginator.has_prev or paginator.has_next %}
    {% include "paginator.html" %}
  {% endif %}
{% endblock %}
{% endblock %}
