<!DOCTYPE html>
<html{% if page %} lang="{{ page.body|linguist }}"{% endif %} prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{{ site.name }}{% endblock %}</title>
  <link rel="author" href="https://plus.google.com/117887319435448092628">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png">
  <link rel="logo" type="image/svg" href="/logo.svg">
  <link rel="dns-prefetch" href="http://dn-lepture.qbox.me">
  <link rel="alternate" type="application/atom+xml" title="Subscribe Feed" href="http://feeds.lepture.com/lepture">
  {% block extra_meta %}{% endblock %}
  {% include "head.html" %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div id="header">
    <div class="container yue">
      <div id="brand"><a href="/">Just <strong>lepture</strong></a></div>
      <div id="nav" role="navigation">
        {% for item in site.links %}
          <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="subheader">
    <div class="container yue">
      {% block subheader %}
      Contact me via
      {% for item in site.social[:-1] %}
      <a href="{{ item.url }}">{{ item.name }}</a>,
      {% endfor %}
      {% set item = site.social[-1] %}
      and <a href="{{ item.url }}">{{ item.name }}</a>.
      {% endblock %}
    </div>
  </div>
  {% block main %}
    <div id="main">
      <div class="container yue">{% block container %}{% endblock %}</div>
    </div>
  {% endblock %}
  <div id="footer">
    <div class="container">
      <p>&copy; Copyright {{ site.now.year }} by {{ site.author }}.</p>
    </div>
  </div>
</body>
</html>
