{% extends "layout.html" %}

{% block title %}{{ page.title }} — {{ site.name }}{% endblock %}

{% block extra_meta %}
  {% if page.cover %}
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta name="twitter:description" content="{{ page.description }}">
  {% endif %}
  <meta name="twitter:site" content="@lepture">
  <meta name="twitter:creator" content="@lepture">
  <meta name="twitter:domain" content="lepture.com">
  {% if page.cover %}
    <meta name="twitter:image" content="{{ page.cover }}">
  {% elif page.image %}
    <meta name="twitter:image" content="{{ page.image }}">
  {% endif %}
  <link rel="canonical" href="{{ page.url }}">
{% endblock %}

{% block subheader %}
{% if page.description %}
  {{ page.description }}
{% else %}
  {{ super() }}
{% endif %}
{% endblock %}

{% block main %}
  <div id="main">
    <div class="container yue">
      {% if page.review %}
        {% include "review.html" %}
      {% else %}
        {% include "article.html" %}
      {% endif %}
      <div class="entry-extra">
        {% if page.tags %}
        <div class="entry-tags">
          {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
        <div class="social-button" data-url="{{ site.baseurl }}{{ page.url }}" data-text="{{ page.title }}{% if page.description %} — {{ page.description }}{% endif %}" data-twitter="lepture" data-weibo="lepture" data-facebook="lepture" data-count="true"></div>
      </div>
    </div>
  </div>
  {% include "disqus.html" %}
{% endblock %}
