{% extends "layout.html" %}
{% block extra_info%}{% if "/zh/" in page.url %} lang="zh"{% endif %}{% endblock %}

{% block title %}{{ page.title }} — {{ site.name }}{% endblock %}

{% block extra_meta %}
  {% include "twitter-card.html" %}
{% endblock %}

{% macro WebPage(schema='Article') %}
<article id="main" role="main" class="hentry yue" itemscope itemtype="http://schema.org/{{schema}}">
  {% include "article-header.html" %}

  <div class="entry-content container" itemprop="articleBody">
    {{ page.content|markdown(lazyimg=True) }}
  </div>

  {% if page.review %}
    {% include "review-footer.html" %}
  {% else %}
    <span class="author vcard hide">
      <span class="fn" itemprop="author">{{ site.author }}</span>
    </span>
  {% endif %}
  </div>

  <div class="entry-extra container">
    {% if page.tags %}
    <div class="entry-tags">
      {% for tag in page.tags %}
      <a class="tag" href="/archive#{{tag}}">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>

</article>
{% endmacro %}


{% block main %}
  {% if page.review %}
    {{ WebPage("Review") }}
  {% else %}
    {{ WebPage("Article") }}
  {% endif %}
  <script>
    var images = document.getElementsByTagName('img');
    if (images.length) {
      for (var i = 0; i < images.length; i++) {
        var src = images[i].getAttribute('data-src');
        if (src) images[i].src = src;
      }
    }
  </script>
  {% include "disqus.html" %}
{% endblock %}
