{% extends "layout.html" %}

{% block title %}{{ page.title }} — {{ site.name }}{% endblock %}

{% block extra_head %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}
{% endblock %}

{% block subheader %}
{% if page.description %}
  {{ page.description }}
{% else %}
  {{ super() }}
{% endif %}
{% endblock %}

{% block main %}
  {% if page.review %}
    {% include "review.html" %}
  {% else %}
    {% include "article.html" %}
  {% endif %}
  {% if site.disqus and page.disqus != 'false' %}
    {% include "disqus.html" %}
  {% endif %}
{% endblock %}
